debian/stsbl-iserv-proxyconfig
debian/stsbl-iserv-proxyconfig.debhelper.log
debian/stsbl-iserv-proxyconfig.substvars
debian/files
debian/debhelper-build-stamp
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
