Source: stsbl-iserv-proxyconfig
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.4.1

Package: stsbl-iserv-proxyconfig
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Proxykonfigurations-Modul für IServ
 Dieses Modul eröffnet zusätzliche Eingriffsmöglichkeiten in die
 Proxykonfiguration für das Schulnetzwerk.
 .
 Für den IServ-Proxy kann ein Elternproxy eingestellt werden, wodurch sich ein
 sogenannter Upstream-Proxy problemlos in die IServ-Umgebung einfügen
 lässt. Außerdem können vertrauenswürdige Kinderproxys konfiguriert werden,
 bei denen IServ das Feld "X-Forwarded-For" aus Anfragen ungefiltert verarbeitet.
 .
 Außerdem kann die Größe des Proxy-Caches konfiguriert werden, um beispielweise
 größere Anfragen besser zwischenspeichern zu können und eine benutzerdefinierte
 Kontakt-E-Mail-Adresse für den Administrator angegeben werden.
Tag: role::plugin, suite::iserv:portal
